a{
    color: black;
}

body{
    background-image: url("york.jpg");
}

.arts{
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
}

.navbar{
    background-color: white;
    border: .1rem solid black;
}

.btn{
    color: black;
    border-color: black;
}

.navbar-brand{
    font-size: 175%;
}

.card{
    margin-bottom: 4%;
    width: 100%;
    height: 100%;
}

.big-boy{
    grid-column: 1/ span 2;
    grid-row:1/span 2;
}

.nav-tabs{
    padding-left: 5%;
    background: white;
    border: .1rem solid black;
    
}