<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="format3.css">

    <title>News Project</title>
  </head>
  <body>

        <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">Name of Company here</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="Login.html">Login</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Template
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="../Templates/template1.html">Type 1</a>
                        <a class="dropdown-item" href="../Templates/template2.html">Type 2</a>
                        <a class="dropdown-item" href="../Templates/template3.html">Type 3</a>
                      </div>
                    </li>
                    <li>
                        <a class="btn btn-light" href="#" role="button">
                          Create An Article
                        </a>
                      </li>
                  </ul>
                  <div class="dropdown btn-group dropleft">
                      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Directions for reformating
                      </button>
                      <div class="dropdown-menu">
                        <p class="dropdown-item">Drag and drop articles on this page to move them around.</p>
                        <p class="dropdown-item">When an article is dropped, it will replace the article currently in that position.</p>
                        <p class="dropdown-item">These changes will be reflected onto the associated page for you newspaper.</p>
                      </div>
                    </div>
                </div>
              </nav>
              
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Global</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">National</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Local</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="arts">
                            <div class="empty big-boy">
                              <div class="fill card" draggable="true">
                                  <img src="gotem.jpg" class="card-img-top" alt="Should've gotten you" draggable="false">
                                <div class="card-body">
                                 <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                     <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                                </div>
                            </div>
                            </div>
                            <div class="empty">
                              <div class="fill card" draggable="true">
                                  <img src="" class="card-img-top" draggable="false">
                              <div class="card-body">
                                <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                            </div>
                            </div>
                            </div>
                                          <div class="empty">
                                              <div class="fill card" draggable="true">
                                                  <img src="gotem.jpg" class="card-img-top" alt="Should've gotten you" draggable="false">
                                                  <div class="card-body">
                                                    <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                                    <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                    <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                                                  </div>
                                              </div>
                            </div>
                      
                                              <div class="empty">
                                                  <div class="fill card" draggable="true">
                                                      <img src="gotem.jpg" class="card-img-top" alt="Should've gotten you" draggable="false">
                                                      <div class="card-body">
                                                        <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                                        <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                        <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                                                      </div>
                                                  </div>
                                              </div>
                      
                                                  <div class="empty">
                                                      <div class="fill card" draggable="true">
                                                          <img src="gotem.jpg" class="card-img-top" alt="Should've gotten you" draggable="false">
                                                          <div class="card-body">
                                                            <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                                            <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                            <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                                                          </div>
                                                      </div>
                                              </div>
                                                  <div class="empty">
                                                      <div class="fill card" draggable="true">
                                                          <img src="gotem.jpg" class="card-img-top" alt="Should've gotten you" draggable="false">
                                                          <div class="card-body">
                                                            <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                                            <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                            <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                                                          </div>
                                                      </div>
                                              </div>
                                                      <div class="empty">
                                                          <div class="fill card" draggable="true">
                                                              <img src="gotem.jpg" class="card-img-top" alt="Should've gotten you" draggable="false">
                                                              <div class="card-body">
                                                                <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                                                <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                                <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                                                              </div>
                                                          </div>
                                                        </div>
                                                          <div class="empty">
                                                              <div class="fill card" draggable="true">
                                                                  <img src="gotem.jpg" class="card-img-top" alt="Should've gotten you" draggable="false">
                                                                  <div class="card-body">
                                                                    <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                                                    <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                                    <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                                                                  </div>
                                                              </div>
                                                            </div>
                                                              <div class="empty">
                                                                  <div class="fill card" draggable="true">
                                                                      <img src="gotem.jpg" class="card-img-top" alt="Should've gotten you" draggable="false">
                                                                      <div class="card-body">
                                                                        <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                                                        <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                                        <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                                                                      </div>
                                                                  </div>
                                                                  </div>
                          </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="arts">
                            <div class="empty big-boy">
                              <div class="fill card" draggable="true">
                                  <img src="gotem.jpg" class="card-img-top" alt="Should've gotten you" draggable="false">
                                <div class="card-body">
                                 <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                     <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                                </div>
                            </div>
                            </div>
                            <div class="empty">
                              <div class="fill card" draggable="true">
                                  <img src="" class="card-img-top" draggable="false">
                              <div class="card-body">
                                <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                            </div>
                            </div>
                            </div>
                                          <div class="empty">
                                              <div class="fill card" draggable="true">
                                                  <img src="gotem.jpg" class="card-img-top" alt="Should've gotten you" draggable="false">
                                                  <div class="card-body">
                                                    <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                                    <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                    <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                                                  </div>
                                              </div>
                            </div>
                      
                                              <div class="empty">
                                                  <div class="fill card" draggable="true">
                                                      <img src="gotem.jpg" class="card-img-top" alt="Should've gotten you" draggable="false">
                                                      <div class="card-body">
                                                        <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                                        <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                        <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                                                      </div>
                                                  </div>
                                              </div>
                      
                                                  <div class="empty">
                                                      <div class="fill card" draggable="true">
                                                          <img src="gotem.jpg" class="card-img-top" alt="Should've gotten you" draggable="false">
                                                          <div class="card-body">
                                                            <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                                            <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                            <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                                                          </div>
                                                      </div>
                                              </div>
                                                  <div class="empty">
                                                      <div class="fill card" draggable="true">
                                                          <img src="gotem.jpg" class="card-img-top" alt="Should've gotten you" draggable="false">
                                                          <div class="card-body">
                                                            <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                                            <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                            <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                                                          </div>
                                                      </div>
                                              </div>
                                                      <div class="empty">
                                                          <div class="fill card" draggable="true">
                                                              <img src="gotem.jpg" class="card-img-top" alt="Should've gotten you" draggable="false">
                                                              <div class="card-body">
                                                                <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                                                <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                                <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                                                              </div>
                                                          </div>
                                                        </div>
                                                          <div class="empty">
                                                              <div class="fill card" draggable="true">
                                                                  <img src="gotem.jpg" class="card-img-top" alt="Should've gotten you" draggable="false">
                                                                  <div class="card-body">
                                                                    <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                                                    <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                                    <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                                                                  </div>
                                                              </div>
                                                            </div>
                                                              <div class="empty">
                                                                  <div class="fill card" draggable="true">
                                                                      <img src="gotem.jpg" class="card-img-top" alt="Should've gotten you" draggable="false">
                                                                      <div class="card-body">
                                                                        <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                                                        <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                                        <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                                                                      </div>
                                                                  </div>
                                                                  </div>
                          </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="arts">
                            <div class="empty big-boy">
                              <div class="fill card" draggable="true">
                                  <img src="gotem.jpg" class="card-img-top" alt="Should've gotten you" draggable="false">
                                <div class="card-body">
                                 <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                     <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                                </div>
                            </div>
                            </div>
                            <div class="empty">
                              <div class="fill card" draggable="true">
                                  <img src="" class="card-img-top" draggable="false">
                              <div class="card-body">
                                <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                            </div>
                            </div>
                            </div>
                                          <div class="empty">
                                              <div class="fill card" draggable="true">
                                                  <img src="gotem.jpg" class="card-img-top" alt="Should've gotten you" draggable="false">
                                                  <div class="card-body">
                                                    <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                                    <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                    <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                                                  </div>
                                              </div>
                            </div>
                      
                                              <div class="empty">
                                                  <div class="fill card" draggable="true">
                                                      <img src="gotem.jpg" class="card-img-top" alt="Should've gotten you" draggable="false">
                                                      <div class="card-body">
                                                        <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                                        <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                        <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                                                      </div>
                                                  </div>
                                              </div>
                      
                                                  <div class="empty">
                                                      <div class="fill card" draggable="true">
                                                          <img src="gotem.jpg" class="card-img-top" alt="Should've gotten you" draggable="false">
                                                          <div class="card-body">
                                                            <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                                            <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                            <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                                                          </div>
                                                      </div>
                                              </div>
                                                  <div class="empty">
                                                      <div class="fill card" draggable="true">
                                                          <img src="gotem.jpg" class="card-img-top" alt="Should've gotten you" draggable="false">
                                                          <div class="card-body">
                                                            <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                                            <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                            <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                                                          </div>
                                                      </div>
                                              </div>
                                                      <div class="empty">
                                                          <div class="fill card" draggable="true">
                                                              <img src="gotem.jpg" class="card-img-top" alt="Should've gotten you" draggable="false">
                                                              <div class="card-body">
                                                                <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                                                <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                                <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                                                              </div>
                                                          </div>
                                                        </div>
                                                          <div class="empty">
                                                              <div class="fill card" draggable="true">
                                                                  <img src="gotem.jpg" class="card-img-top" alt="Should've gotten you" draggable="false">
                                                                  <div class="card-body">
                                                                    <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                                                    <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                                    <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                                                                  </div>
                                                              </div>
                                                            </div>
                                                              <div class="empty">
                                                                  <div class="fill card" draggable="true">
                                                                      <img src="gotem.jpg" class="card-img-top" alt="Should've gotten you" draggable="false">
                                                                      <div class="card-body">
                                                                        <h5 class="card-title"> <a href="google.com">Card title</a> </h5>
                                                                        <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                                                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                                        <button class="btn-light btn-custom invisible"> <strong> Delete </strong></button>
                                                                      </div>
                                                                  </div>
                                                                  </div>
                          </div>
                    </div>
                  </div>
    </div>

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
        <div id="caption2"></div>
      </div>

    <script src="dragAndDropSystem.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>