a{
    color: black;
}

.navbar{
    background-color: white;
    border: .1rem solid black;
}

.btn{
    color: black;
    border-color: black;
}

.navbar-brand{
    font-size: 175%;
}

.nav-tabs{
    padding-left: 5%;
    background: white;
    border: .1rem solid black;
    
}

.Login{
    margin-right: 10%;
}

.newsSelect{
    margin-top: 5%;
    margin-left: 10%;
}

.newsDrop{
    padding-right: 10%;
}

.content {
    width:100%;
    display: grid;
    grid-template-columns: auto auto;
}